/* Dark mode btn */

.dark-mode-btn {
	margin-left: 70%;

	position: relative;
	display: flex;
	justify-content: space-between;

	width: 3.2rem;
	height: 1.6rem;
	padding: 5px;

	border-radius: 2.5rem;
	border: #464646 solid 1px;

	background-color: #272727;

	cursor: pointer;
}

.dark-mode-btn::before {
	content: '';

	position: absolute;
	top: 1%;
	left: 0;

	display: block;
	width: 1.5rem;
	height: 1.5rem;

	border-radius: 50%;
	background-color: #fff;

	transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
	left: 1.563rem;
}

.dark-mode-btn_ {
	position: relative;
	z-index: 9;
}

.dark-mode-btn__icon {
	scale: 1.2;
	color: #272727;
	position: relative;
	z-index: 9;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.dark-mode-btn__icon--active {
	opacity: 1;
}
